﻿ 
@if (Request.IsAuthenticated)
{
    
    using (Html.BeginForm("Logout","User", FormMethod.Post, new { id="logoutForm"}))
    {
        
   

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="javascript:void(0)"> Welcome @HttpContext.Current.User.Identity.Name</a>
            
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Registration", "user", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "user", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
